<%= form_for @recipe do |f| %>

<div class = "formItem">
  <%= f.label :name %> <br>
  <%= f.text_field :name, :required => true, :autofocus => true%>
</div>
<br>
<br>
<div class = "formItem">
  <%= f.label :description, 'Description' %> <br>
  <%= f.text_area :description %>
</div>
<br>
<br>
<div class = "formItem">
  <%= f.label :ingredients %> <br>
  <%= f.text_area :ingredients %>
</div>
<br>
<br>

<div class = "formItem">
  <%= f.label :directions, 'Method' %> <br>
  <%= f.text_area :directions %>
</div>
<br>
<br>

<div class = "formItem">
  <%= f.label :equipment, 'Equipment' %> <br>
  <%= f.text_area :equipment %>
</div>
<br>
<br>
<div class = "formItem">
  <%= f.label :image %> <br>
  <%= f.url_field :image %>
</div>
<br>
<br>

<div class = "formItem">
  <%= f.label :style_id %> <br>
  <%= f.select :style_id, Style.pluck(:name, :id), :include_blank => true %>
</div>
<br>
<br>
  <%= f.submit "Submit"%>
<% end %>
