<div class = "contDiv">
  <div class = "leftshow">
    <div class = "leftinner">
    <%= image_tag @recipe.image, :class => 'feature' if @recipe.image.present? %>
    <div class="controls">
      <%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %>
      <%= link_to 'Delete Recipe', @recipe, :method => 'delete' %>
    </div>
    </div>
  </div>
  <div class = "right">
    <div class ="rightInnerRecipe">
  <div> Recipe Name </div> <br>
    <div class = "para"><%= @recipe.name %></div>
    <br>
    <br>
    <div>Decription </div> <br>
    <div class = "para"><%= @recipe.description %></div>
    <br>
    <br>
    <div>Ingredients </div> <br>
    <div class = "para"><%= @recipe.ingredients %></div>
    <br>
    <br>
    <div>Directions </div> <br>
    <div class = "para"><%= @recipe.directions %></div>
    <br>
    <br>
    <div> Equipment </div> <br>
    <div class = "para"><%= @recipe.equipment %></div>
    <br>
    <br>
    <% if @recipe.style.present? %>
    <div>   Type </div> <br>
      <div class = "para">  <%= @recipe.style.name %> </div>
      <br>
    <% end  %>
